html{
    background-color: black;
    /* color: white; */
    background-image: url(images/team_banner.jpg);
    background-repeat: repeat;
    background-size: cover;
}

header h1{
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    padding-left: 2.5vw;
    padding-top: .5vw;
}

.all-member{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.profile{
    border: 1px solid white;
    padding: .8rem;
    background-color: rgba(43, 81, 111, 0.358);
    border-radius: .3rem;
    height: 23vw;
}

.text-about{
    padding-top: 1vh;
}

.text-about p{
    margin: 0;
    padding: 0;
}

.profile-img{
    height: 15vw;
    box-shadow: 4px 4px rgb(19, 19, 19);
    border-radius: 1rem;
}
.profile-img:hover{
    scale: 1.04;
    transition: .5s;
}


.social-media img{
    height: 1.8rem;
    padding-top: 1vw;
}
.github{
    filter: invert(00%);
}

.social-media img:hover{
    scale: 1.25;
    transition: .4s;
}

@media (max-width:1150px){
    .profile{
        height: 25vw;
    }
}

@media (max-width:1000px){
    .profile{
        height: 37vw;
    }
    .profile-img{
        height: 25vw;
    }
}

@media (max-width:850px){
    .profile{
        height: 40vw;
    }
    .profile-img{
        height: 25vw;
    }
}
@media (max-width:700px){
    .profile{
        height: 40vw;
    }
    .profile-img{
        height: 25vw;
    }
}
@media (max-width:550px){
    .profile{
        height: 48vw;
    }
    .profile-img{
        height: 25vw;
    }
}
@media (max-width:400px){
    .profile{
        height: 70vw;
    }
    .profile-img{
        height: 45vw;
    }
}

@media (max-width:850px){
    .all-member{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:400px){
    .all-member{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1.2rem;
    }
}

.bhome{
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    rotate: 270deg;
}